/* Utilities */

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}


.pd-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.no-shadow {
    box-shadow: none;
}

.no-border-radius {
    border-radius: 0;
}

.icon--yellow {
    color: #F0B200;
}

/* content */


.title-testi{
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: normal;
    letter-spacing: normal;
    
}

/* Testimonial */

.testi {
    text-align: center;
}

.testi__item {
    padding: 20px;
}

.testi__avatar {
    border-radius: 100px;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.testi__title {
    font-size: 16px;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
}

.testi__subtitle {
    margin-bottom: 20px;
    font-size: 13px;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    color: grey;
}

.testi-desc__text {
    font-style: italic;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.icon-style {
    font-size: 18px;
}

.icon-style .icon-star {
    margin: -5px;
}

.icon-style .icon-star-empty {
    margin: -3px;
}

/*------- About Page -------- */


.about-intro {
    margin-bottom: 50px;
}

.about-intro-content {
    line-height: 24px;
    font-family: 'Avenir Next Demi Bold';
    font-size: 15px;
    text-align: center;
}

.about-intro-content:not(:last-child) {
    margin-bottom: 30px;
}


.team-text-box {
    margin-right: 100px;
}

@media (max-width:992px) {
    .team-text-box {
        margin-right: 0px;
    }
}

@media (max-width:768px) {
    .team-text-box {
        text-align: center;
        margin-bottom: 30px;
    }
}

.team-text-box__title {
    margin-bottom: 20px;
    font-family: 'Avenir Next Demi Bold';
    font-size: 24px;
}

.team-text-box__desc {
    font-family: 'Avenir Next Medium';
    font-size: 14px;
    line-height: 24px;
}

.thumbnail-no-border {
    border: none;
    background-color: transparent;
}
.thumbnail__img {
    width: 220px;
    height: 220px;
    margin-bottom: 16px;
}

.caption__name {
    font-family: 'Avenir Next Demi Bold';
    font-size: 15px;
    margin-bottom: 2px;
}

.caption__job {
    font-family: "Avenir Next Medium", Fallback, sans-serif;
    font-size: 15px;
    opacity: 0.5;
    margin-bottom: 16px;    
}

.caption__icon--link {
    color: #000;
    transition: all .4s ease;
}

.caption__icon--link:hover {
    color: #000;
    opacity: 0.8;
}

.caption__icon--item {
    font-size: 11px;
    margin-right: 6px;
}

.about-line-horizontal {
    margin: 100px 0;
    border: 0;
    border-top: 2px solid #eee;
}

.about-form {
    margin-bottom: 50px;
}


.about-form-box {
    margin-left: 70px;
}

@media (max-width:1200px) {
    .about-form-box {
        margin-left: 90px;
    }
}

.about-form__img {
    max-width: 463px;
    height: 597px;
}

@media (max-width:992px) {
    .about-form__img {
        max-width: 350px;
        height: auto;
    }
}



.about-form-box__title {
    font-family: 'Avenir Next Demi Bold';
    font-size: 24px;
    margin-bottom: 35px;
}

.about-form-box__title--color {
    font-family: 'Avenir Next Bold';
    font-size: 24px;
    color: #123899;
}

@media (max-width:768px) {
    .about-form-box {
        margin: 0;
    }

    .about-form__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .about-form-box__title {
        text-align: center;
    }
    
}

.form-horizontal__title {
    font-family: 'Avenir Next Demi Bold';
    font-size: 12px;
}

.form-horizontal__input {
    background-color: transparent;
    height: 55px;
    border-radius: 4px;
    padding: 15px;
}

.form-horizontal__input:placeholder-shown {
    font-family: 'Avenir Next Medium';
    font-size: 13px;
    padding: 15px;
}

.form-horizontal__btn {
    width: 100%;
    padding: 15px 0;
    font-size: 16px !important;
}

/* Syarat dan Ketentuan */

.syarat-intro {
    margin-bottom: 70px;
    text-align: left;
}

.syarat-intro__title {
    line-height: 24px;
    font-family: 'Avenir Next Demi Bold';
    font-size: 23px;
    margin: 22px 0;
}

.syarat-intro__desc {
    line-height: 24px;
    font-family: 'Avenir Next Demi Bold';
    font-size: 15px;
}

.syarat-intro__desc:not(:last-child) {
    margin-bottom: 26px;
}

.syarat-separator {
    margin-bottom: 30px;
}

@media (min-width: 992px) {

    .container-md {
        max-width: 800px;
    }

    .container-lg {
        max-width: 1000px;
    }

    .container-lg-2 {
        max-width: 1050px;
    }

}

