/* Utilities */

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}


.pd-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.no-shadow {
    box-shadow: none;
}

.no-border-radius {
    border-radius: 0;
}

.icon--yellow {
    color: #F0B200;
}

/* content */


.title-testi{
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: normal;
    letter-spacing: normal;
    
}

/* Testimonial */

.testi {
    text-align: center;
}

.testi__item {
    padding: 20px;
}

.testi__avatar {
    border-radius: 100px;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}
.testi__title {
    font-size: 16px;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
}

.testi__subtitle {
    margin-bottom: 20px;
    font-size: 13px;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    color: grey;
}

.testi-desc__text {
    font-style: italic;
    font-family: "Avenir Next Demi Bold", Fallback, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.icon-style {
    font-size: 18px;
}

.icon-style .icon-star {
    margin: -5px;
}

.icon-style .icon-star-empty {
    margin: -3px;
}

@media (min-width: 992px) {

    .container-md {
        max-width: 800px;
    }

    .container-lg {
        max-width: 1000px;
    }

}

